html, body {
    margin: 0 auto;
    color: white;
    background-color: black;
}

body {
    margin-bottom: 100px;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.nav-container a, #nameDisplay {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-container a:hover {
    background-color: rgb(34, 209, 34);
    color: black;
}

.nav-container .icon {
    display: none;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

header {
    font-size: 30px;
    display: grid;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Press Start 2P', cursive;
}

figure {
    text-align: center;
    display: grid;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

figcaption {
    font-size: 30px;
}

figure img{
    max-width: 100%;
}

img {
    border:1px solid rgb(34, 209, 34);
}

.video {
    text-align: center;
}

main {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    border: rgb(34, 209, 34) 3px solid;
    padding: 10px;
    background-color:black;
}

div.a {
    text-indent: 50px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: black;
    padding: 1px;
    background-color: rgb(34, 209, 34);
}

.error {
    background-color: red;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width: 600px) {
    .nav-container a:not(:first-child) {display: none;}
    .nav-container a.icon {
        float: right;
        display: block;
    }
    footer {
        position: relative;
    }
    body {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .nav-container.responsive {position: relative;}
    .nav-container.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-container.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}